name: VSCode Insiders Daily Stability Test

on:
    schedule:
        - cron: "0 4 * * *" #4:00 AM UTC
    workflow_dispatch: # Manually trigger the workflow

jobs:
    insider-symbol-test:
        env:
            VSCODE_VERSION: "insiders"
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - run: npm install

            - name: Compile
              run: xvfb-run -a npm run compile
              if: runner.os == 'Linux'

            - name: Get ADE Repo
              run: xvfb-run -a npm run get-ade-test
              if: runner.os == 'Linux'

            - name: Run Symbol Test
              run: xvfb-run -a npm run test-symbol
              if: runner.os == 'Linux'

    insider-ast-test:
        env:
            VSCODE_VERSION: "insiders"
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - run: npm install

            - name: Compile
              run: xvfb-run -a npm run compile
              if: runner.os == 'Linux'

            - name: Get ADE Repo
              run: xvfb-run -a npm run get-ade-test
              if: runner.os == 'Linux'

            - name: Run AST Test
              run: xvfb-run -a npm run test-ast
              if: runner.os == 'Linux'
