# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

permissions:
    contents: read

on:
    push:
        branches: ["develop"]
    pull_request:
        branches: ["develop"]

jobs:
    test:
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - run: npm install

            - name: Run Tests
              run: xvfb-run -a npm test
              if: runner.os == 'Linux'

            - name: Run Tests w Metamorphic
              run: xvfb-run -a npm run test-w-metamorphic
              continue-on-error: true
              if: runner.os == 'Linux'

            - name: Run Tests (Non-Linux)
              run: npm test
              if: runner.os != 'Linux'

    symbol-test:
        needs: test # Runs only if 'test' job is successful
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - run: npm install

            - name: Compile
              run: xvfb-run -a npm run compile
              if: runner.os == 'Linux'

            - name: Get ADE Repo
              run: xvfb-run -a npm run get-ade-test
              if: runner.os == 'Linux'

            - name: Run Symbol Test
              run: xvfb-run -a npm run test-symbol
              if: runner.os == 'Linux'

            - name: Save Symbol Test Results as Artifact
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  name: symbol-test-results
                  path: /home/runner/work/OpenedgeAblFormatter/OpenedgeAblFormatter/resources/testResults/symbolTests
                  retention-days: 7

    ast-test:
        needs: test # Runs only if 'test' job is successful
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - run: npm install

            - name: Compile
              run: xvfb-run -a npm run compile
              if: runner.os == 'Linux'

            - name: Get ADE Repo
              run: xvfb-run -a npm run get-ade-test
              if: runner.os == 'Linux'

            - name: Run AST Test
              run: xvfb-run -a npm run test-ast
              if: runner.os == 'Linux'

            - name: Save AST Test Results as Artifact
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  name: ast-test-results
                  path: /home/runner/work/OpenedgeAblFormatter/OpenedgeAblFormatter/resources/testResults/astTests
                  retention-days: 7
